<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class = "container">
        <div class = "banner">
            <h1>Welcome, {{request.session.name}}!</h1>
            <a href=/logout>Log Out</a>
            <a href=/success>Back</a>
        </div>
        
        
        <div class = "book">
            <h1>{{book.title}}</h1>
            <p>Added by: {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>
            <p>Added on: {{book.uploaded_by.created_at}}</p>
            <p>Last updated on: {{book.uploaded_by.updated_at}}</p>
            {% if book.uploaded_by.id != request.session.userid %}
            <p>Description: {{book.description}}</p>
            <a href="/like/{{book.id}}" role = "button" class = "btn btn-primary">Like Book</a>
            <a href="/unlike/{{book.id}}"  >Unlike</a>
            {% else %}
            <form action = "/books/{{book.id}}/edit" method = "POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-7">
                        <textarea type="text" class="form-control" id="descriptoin" name="description" placeholder = "{{book.description}}" rows="5"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
                <a href="/books/{{book.id}}/delete" role = "button" class = "btn btn-primary">Delete</a>
            </form>
            {% endif %}
        </div>

        <div class = "like">
            <h3>Users Who Like This Book:</h3>
            {% for like in book.users_who_like.all %}
                <li>{{like.first_name}} {{like.last_name}} </li>
            {% endfor %}
        </div>
    </div> 
</body>
</html>

